#slider{
    padding: 24px;
}

#slider .avatar-uploader  .ant-upload {
    width: 128px;
    height: 128px;
}

#slider .form .img{
    width: 128px;
    height: 128px;
}

#slider .form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}